<div class="row">
    <div class="col-md-2">
        <ol class="breadcrumb">
          <li><a href="#/">Back to search</a></li>
        </ol>
    </div>
</div>

<h3>Forecast for {{ city }}</h3>
<hr>
    Days:   <a href="#/forecast/2" ng-class="{'badge': days === '2' }">2</a>
            | <a href="#/forecast/5" ng-class="{'badge': days === '5' }">5</a>
            | <a href="#/forecast/7" ng-class="{'badge': days === '7' }">7</a>
<hr>
<div ng-repeat="w in weatherResult.list">
    <div class="row">
        <div class="col-md-12">
            <!-- by default this directive inherits scope of the ctrl where this directive resides in the view of that ctrl -->
            <!-- attrs:
            take a fn that sits on the scope of this ctrl and make it a Fn available on the isolated scope
             -->
            <weather-panel weather-object="w" convert-to-standart-fn="convertToCelsius(dTemp)" convert-to-date-fn="convertToDate(wdt)" date-format="MMM dd, y"></weather-panel>
        </div>
    </div>
</div>