<a href="/admin/add-edit-booking/0" class="btn btn-success pull-right"> Add New Booking</a>
<h1>Bookings List</h1>
<hr/>
<table class="table">
  <thead>
    <tr>
      <th>Text</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Created on</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tr ng-repeat="booking in allBookings">
    <td>{{booking.text}}</td>
    <td>{{booking.start_date}}</td>
    <td>{{booking.end_date}}</td>
    <td>{{booking.created_on}}</td>
    <td> <a ng-href="/admin/add-edit-booking/{{booking._id}}">Edit</a>
    </td>
    <td> <a ng-href="#" ng-click="deleteBooking(booking._id)">Delete</a>
    </td>
  </tr>
</table>